/*  word sans font frome google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,500;0,800;1,100;1,400&display=swap');

  * {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* padding: 0; */
  }

  /* header style */
  header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 2px rgb(182, 181, 181) ;  
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
    align-items: center;
  }
  .g{
    color:#FF42A5;
    margin-left: 20px;
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .bgc-icon-menu{
    display: flex;
    align-items: center;
  }

  .bgc-icon-menu span{
    padding-right: 15px;
  }

  .bgc{
    background-color: #ededed;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header-menu{
    display: flex;
    align-items: center;
  }
  .header-menu img{
    width: 50%;
    height: 50%;
  }
  .nav-title span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .column-1 h1{
    font-size: 48px;
    text-transform: uppercase;
  }
 
  .column-1 h2{
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 90px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

  .column-1 p{
    color: #534C64; 
    font-size: 20px;
  }
  .logo{
    width: 3%;
    height: 5%;
  }

  .nav-title{
    font-size: 3rem;
  }
  nav > ul{
    display: flex;
  }
  nav li {
    list-style: none;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 500px;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 140px ;
  }
  .column img {
    width: 100%;
    height: 100%;

  }
  /* about section style css  */
  .about{
    padding: 0 150px;
    /* width: 1013px; */
    display: flex;
    align-items: center;
    /* width: 1920px;
    height: 600px; */
    flex-shrink: 0;
    background:linear-gradient(223deg, rgba(218, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  }
  .about-description h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: right;
    font-size: 48px;
    font-weight: 700;
  }
  .about-description p, span {
    color: #534C64;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  .about-btn{ 
    display: inline-flex;
    padding: 15px 30px;
    text-align: center;
    /* align-items: flex-end; */
    /* justify-content: center; */
    gap: 10px;  
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-left:270px;
    border: none;
    /* margin-top: 5px; */
     
  }
  

  .section-3 {
    padding: 60px 50px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
   .video-game{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
   }
   .v-p{
    width: 340px;
    text-align: left;
   }
  .video-game img{
    width: 100%;
    height: 100%;
  }

  .image{
    position: relative;
  }

  .img-content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.6s;
    /* text-align: center; */
  }
  .img-content:hover{
    opacity: 1;
    border-radius: 15px;
  }
  .img-content p{
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  /* .img-content > *{
    transform: translateY(25px);
    transition:transform(0.6s);
  } */
  .section-3 h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .section-3 span{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
 
  .section-4{
    padding: 50px 150px;
    display: flex;
    /* align-items: center; */
  }

  .game-1{
    padding-bottom: 50px;
  }

  .game-2{
    width: 500px;
    padding: 100px 90px;
    margin-left: 50px ;
  }

  .game-2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 46px;
    line-height:60px;
  }

  .game-2 h2{
    color: #0B0223;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
  }
  .large-pic{
    width: 710px;
    height: 650px;
    flex-shrink: 0;
    position: relative;
  }

  #small-pic{
    width: 318px;
    height: 365px; 
    position: absolute;
    top: 2320px;
    left: 650px;
  }

/* team member  */
 .team-container{
  padding: 50px 140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.team-member{
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
 

}

.team-member:hover{
  border: 1px solid rgb(253, 0, 139);
  border-radius: 50px;

}
.team-member p{
  padding-left: 5px;
}

/* footer style */
footer{
  background-color:rgb(7, 7, 43);
  margin: 0;
  padding: 50px 100px;
  text-align: center;
}

.list-text {
  display: flex;
  color: white;
  justify-content: center;

}

.bottom-list-text{
  display: flex;
  color: white;
  justify-content: center;
  padding-top: 30px;
}

.icon-text{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 40px;
}

 a{
  padding-left: 30px;
}
footer p{
  color: white;
  padding-top: 30px;
}
footer .header-menu img{
  width: 5%;
  height: 5%;
}
footer .nav-title{
  color: white;
  text-align: center;
  display: inline;
}

footer .header-menu{
  justify-content: center;
  padding-bottom:10px ;
}

.btn-1{ 
  color: white;
  border: none;
  display: inline-flex;
  padding: 21px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 10px; 
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); 
  }
  .btn-2{
    color: white;
    border: none;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    background: #4EC5F7; 
  }

 /* Responsive the media query */

 @media screen and (max-width:576px){
   nav{
    flex-direction: column;
   }
   .bgc-icon-menu{
    flex-direction: column;
   }
 }